@{
    ViewData["Title"] = "List of Movies";
}


<div class="row" id="card">
</div>
@section scripts {
    <script type="module" src="~/js/pages/movies.js"></script>
    <script src="~/js/dayjs/dayjs.js"></script>
    }
